body{
  margin: 0;
  font-size: 15px;
  line-height: 20px;

}
.container{
  width: 1170px;
  margin: 0 auto;

}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}
ul{
  margin: 0;
  padding: 0;

}
li{
  list-style: none;

}
a{
  text-decoration: none;

}

.clear{
  clear: both;
}
header{
  background-color: #16191e;
  padding: 20px 0;
  border-bottom: 2px solid #999966;

}
header .menu{
  float: right;
  margin-top: 15px;
  

}
header .menu li{
  float: left;
  padding-right: 15px;
  
}
header .menu li a{
  color: #ffff;
   font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  
  
}


.banner{
  background-image: url(../image/Banner\ New.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
  
}

.banner{
  text-align: center;
 
}
.banner .container h3{
  color: #999966;
  font-size: 25px;
  margin-bottom: 20px;
   font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
   
}
.banner .container h1{
  color: #ffff;
  margin-bottom: 20px;
  font-size: 45px;
}
.banner .container h1{
   font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.banner .container p{
  color: #ffff;
  margin-bottom: 20px;
 font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.banner .container a{
  background-color: #ab3f1b;
  color: #ffff;
  padding: 10px 20px;
   font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  
}
.banner .container a:hover{
  background-color: transparent;
  border: 2px solid #999966;
}
.about{
  background-color: #ead6af;
}
.about .container img{
  margin-bottom: 50px;
  
}

.about .more{
  float: right; 
  margin-top: 25%;
  margin-right: 22%;
 
}
.about .container img{
  margin-top: 50px;
}
.about .more a{
  background-color: #ab3f1b;
  color: #ffff;
  padding: 10px 20px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  
  
}
.about .more a:hover{
  background-color: transparent;
  border: 2px solid #999966;
  }
.about .more h2{
  margin-bottom: 10px;
  color: #999966;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
 font-size: 40px;
}
.about .more p{
   margin-bottom: 40px;
   font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}
.gallery .container h3{
  margin-top: 50px;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}
.gallery .container h2{
 
  margin: 20px 20px;
  text-transform: uppercase;
}
.gallery .container h3{
text-align: center;
color: #999966;
}
.gallery .container h2{
  text-align: center;
}
.gallery .photo{
  text-align: center;
}

.gallery .photo img{
     margin-bottom: 20px;
    width: 25%;
    height: 43%;
    padding: 0px 10px;
   
}
.testimonials{
  background-image: url(../image/testimonials_banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;
  text-align: center;
  color: #ffff;

}


  .testimonials  img{
    border-radius: 50%;
    width: 10%;
    border: 3px solid #ffff;
    
  }
.testimonials h3, h2 {
  margin-bottom: 40px;
}
.testimonials h3{
  color: #999966;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}
.testimonials h2{
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.testimonials h5{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.testimonials p{
margin: 40px 0;
font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fresh {
  background-color: #ead6af;
  padding: 80px 0;
  
}
.fresh .container .box1 h2, .box2 h2, .box3 h2, .box4 h2{
  color: #999966;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.fresh .container .box1 p, .box2 p, .box3 p, .box4 p{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fresh .container .box1, .box2, .box3, .box4{
  float: left;
  width: 25%;
  text-align: center;
}
footer{
  background-color: #0b0d0f;
  padding: 40px 0;
}

footer  .first, .follow, .contact{
  float: left;
  width: 33%;
  color: #ffff;
}
footer .container .follow a{
text-transform: uppercase;
background-color: #ab3f1b;
padding: 10px 20px;
color: #ffff;

}
footer .container p{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
footer .container .follow a:hover{
  background-color: transparent;
  border: 2px solid #999966;
}

footer .container .follow h2{
  margin-top: 20px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  
}
footer .container .follow{
  text-align: center;
}
.container .contact .address li a{
  color: #ffff;
  text-transform: uppercase;
}
.container .contact .address li a:hover{
  color: #999966;
}
.bottonfottor .container{
  background-color: #ab3f1b;
}
